@model FullTextSearch.Models.Search

@{ 
    ViewBag.Title = "Search";
}

<style>
    #common-terms-list > li {
        display: inline-block;
        margin: 5px;
        margin-left: 0;
    }
</style>

<form name="search" id="search-form" class="page-header col-xs-12" method="get">
    <div class="col-sm-5 col-xs-12">
        <div class="input-group">
            <span class="input-group-btn">
                <button type="reset" class="btn btn-danger" title="Reset">
                    <span class="glyphicon glyphicon-remove-sign"></span>
                </button>
            </span>
            <input type="search" asp-for="Query" class="form-control search-box" placeholder="Enter search terms..." />
            <span class="input-group-btn">
                <button type="submit" class="btn btn-primary" title="Search">
                    <span class="glyphicon glyphicon-search"></span>
                </button>
            </span>
        </div>
    </div>
    <div class="col-sm-7 col-xs-12">
        <label asp-for="NumberOfResults" class="control-label col-sm-6 col-xs-12">Number of results per page</label>
        <input type="range" min="1" max="100" class="col-sm-6 col-xs-12" asp-for="NumberOfResults" />
        <span id="num-of-res-indicator" class="badge col-xs-1 hidden-xs">@Model.NumberOfResults</span>
        <input type="hidden" asp-for="Page" />
    </div>
    <div class="col-md-5 col-sm-4">
        Concatenation operator:
        <label>
            <input type="radio" asp-for="Operator" value="0" checked /> AND
        </label>
        <label>
            <input type="radio" asp-for="Operator" value="1" /> OR
        </label>
    </div>
    <div class="col-md-7 col-sm-8">
        Type of search
        <label>
            <input type="radio" asp-for="Type" value="0" checked />
            <span class="form-label">Morphology&amp;semantic</span>
        </label>
        <label>
            <input type="radio" asp-for="Type" value="1" />
            <span class="form-label">Fuzzy matching</span>
        </label>
    </div>
</form>
<span class="clearfix"></span>
<div class="container">
    <div id="results">
        @if (Model.Results != null)
        {
            var results = Model.Results.Count();
            <div class="panel panel-default " id="search-query-panel">
                <div class="panel-heading clearfix">
                    <a class="panel-title" data-toggle="collapse" data-target="#search-query">
                        <span aria-hidden="true" class="glyphicon glyphicon-circle-arrow-down"></span>
                        SQL Query performed in <em>@Model.QueryTime ms</em>. <small>(click to open the raw SQL query)</small>
                    </a>
                </div>
                <div class="panel-body panel-collapse collapse dropdown" id="search-query">
                    <pre>@Html.Raw(Model.SqlQuery)</pre>
                </div>
            </div>
            if (results > 0)
            {
                <div class="page-header">
                    Showing <strong>@results</strong> results, page @Model.Page<br />
                </div>
                @foreach (var result in Model.Results)
                {
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span class="badge">
                                @result.EventType
                            </span>
                            <a class="panel-title" data-toggle="collapse" data-target="#result-@result.Id">
                                @Html.Raw(result.Title)
                            </a>
                        </div>
                        <div class="collapse dropdown" id="result-@result.Id">
                            <div class="panel-body">
                                <div class="pull-right">
                                    <a class="btn btn-sm btn-info" asp-action="Details" asp-controller="Paper" asp-route-id="@result.Id">
                                        <span class="glyphicon glyphicon-info-sign"></span>
                                        Details
                                    </a>
                                </div>
                                <h4>@Html.Raw(result.Abstract)</h4>
                                <h5>@Html.Raw(result.PaperText)</h5>
                            </div>
                            <div class="panel-footer small">
                                <a href="/paper/@result.PdfName">
                                    <span class="glyphicon glyphicon-download-alt"></span>
                                    @result.PdfName
                                </a>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <p class="alert alert-warning">
                    <span class="glyphicon glyphicon-info-sign"></span>
                    There were no results found.
                </p>
            }

            <ul class="pagination btn-group-justified">
                @if (Model.Page > 1)
                {
                    <li>
                        <a href="#" id="previous-results" class="previous btn-default">
                            <span class="glyphicon glyphicon-circle-arrow-left"></span>
                            Previous results
                        </a>
                    </li>

                }
                @for (int i = 1; i < Model.Page; ++i)
                {


                }
                @if (Model.Results.Count() == Model.NumberOfResults)
                {
                    <li>
                        <a href="#" id="more-results" class="next btn-primary">
                            More results
                            <span class="glyphicon glyphicon-circle-arrow-right"></span>
                        </a>
                    </li>

                }
            </ul>

        }
        else
        {
            <div id="search-suggest" class="collapse dropdown">
                <p>No idea what to search for? Try for some of these common lexemes!</p>
                <ul id="common-terms-list"></ul>
                <a href="javascript:getTerms()" id="more-terms">More <span class="glyphicon glyphicon-menu-right"></span></a>
            </div>
        }
    </div>
</div>

<div id="loading" class="well page-header col-xs-12">
    <span class="glyphicon glyphicon-search"></span> 
    Searching...
</div>

@section Scripts {
    <script>
        $('#loading').hide();
        $('#NumberOfResults').on('change', function () {
            $('#num-of-res-indicator').html(this.value);
            $('#Page').val(1);
        });
        $('#search-form').on('submit', function () {
            $('#results').hide();
            $('#loading').show();
        });
        $('#Query').on('change', function () {
            $('#Page').val(1);
        });
        $('#Operator').on('change', function () {
            $('#Page').val(1);
        })
        $('#more-results').on('click', function () {
            var p = $('#Page');
            p.val(p.val()*1 + 1);
            $('#search-form').submit();
        });
        $('#previous-results').on('click', function () {
            window.history.back();
        });
        @if (Model.Results == null)
        {
            <text>
        function getTerms(n) {
            if ($(n).empty()) n = 20;
            $.get('/Search/CommonTerms?n='+n, null, function (data) {
                var ctl = $('#common-terms-list');
                ctl.html('');
                $.each(data, function () {
                    ctl.append(
                        '<li><a href="#">' + this + '</a></li>'
                        );
                });
                $('#search-suggest').show();
                $('#common-terms-list li a').on('click', function (item) {
                    $('#Query').val($(this).html());
                    $('#search-form').submit();

                });
            });
        }
        getTerms();
            </text>

        }
    </script>
}