@model FullTextSearch.Models.Search

@{ 
    ViewBag.Title = "Search";
}

<style>
    #common-terms-list > li {
        display: inline-block;
        margin: 5px;
        margin-left: 0;
    }
</style>

<form name="search" id="search-form" class="page-header" method="get">
    <div class="row">
        <div class="col-sm-5 col-xs-12">
            <div class="input-group">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-primary" title="Search">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
                <input type="search" asp-for="Query" class="form-control search-box" placeholder="Enter search terms..." />
            </div>
        </div>
        <div class="col-sm-7">
            <label asp-for="NumberOfResults" class="control-label col-md-5">
                Results per page
                <span id="num-of-res-indicator" class="badge">@Model.NumberOfResults</span>
            </label>
            <input type="range" min="5" step="5" max="100" class="" asp-for="NumberOfResults" />
            <input type="hidden" asp-for="Page" />
        </div>
    </div>
    <div class="row">
        <div class="col-sm-5">
            Operator:
            <label>
                <input type="radio" asp-for="Operator" value="0" checked /> AND
            </label>
            <label>
                <input type="radio" asp-for="Operator" value="1" /> OR
            </label>
            <label>&nbsp;
                <input type="checkbox" asp-for="ExpandResults" />
                <small>Expand results</small>
            </label>
        </div>
        <div class="col-sm-7">
            Type of search
            <label>
                <input type="radio" asp-for="Type" id="Type-1" value="0" checked />
                <span class="form-label">Morphology&amp;semantic</span>
            </label>
            <label>
                <input type="radio" asp-for="Type" id="Type-2" value="1" />
                <span class="form-label">Fuzzy matching</span>
            </label>
        </div>
    </div>

</form>
<span class="clearfix"></span>
<div class="container">
    <div id="results">
        @if (Model.Results != null)
        {
            var results = Model.Results.Count();
            <div class="panel panel-default " id="search-query-panel">
                <div class="panel-heading clearfix">
                    <a class="panel-title" data-toggle="collapse" data-target="#search-query">
                        <span aria-hidden="true" class="glyphicon glyphicon-circle-arrow-down"></span>
                        SQL Query performed in <em>@Model.QueryTime ms</em>. <small>(click to open the raw SQL query)</small>
                    </a>
                </div>
                <div class="panel-body panel-collapse collapse dropdown" id="search-query">
                    <pre>@Html.Raw(Model.SqlQuery)</pre>
                </div>
            </div>
            if (results > 0)
            {
                <div class="page-header">
                    Showing <strong>@results</strong> results, page @Model.Page<br />
                </div>
                @foreach (var result in Model.Results)
                {
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <span class="badge">
                                @result.EventType
                            </span>
                            <a class="panel-title" @if(!Model.ExpandResults) {<text>data-toggle="collapse" data-target="#result-@result.Id"</text>}>
                                @Html.Raw(result.Title)
                            </a>
                        </div>
                        <div @if(!Model.ExpandResults) {<text>class="collapse dropdown"</text>} id="result-@result.Id">
                            <div class="panel-body">
                                <h4>@Html.Raw(result.Abstract)</h4>
                                <h5>@Html.Raw(result.PaperText)</h5>
                                <a class="alert-link" asp-action="Details" asp-controller="Paper" asp-route-id="@result.Id">
                                    <span class="glyphicon glyphicon-hand-right"></span> 
                                    View paper
                                </a>
                            </div>
                            <div class="panel-footer small">
                                <a href="/paper/@result.PdfName">
                                    <span class="glyphicon glyphicon-download-alt"></span>
                                    @result.PdfName
                                </a>
                            </div>
                        </div>
                    </div>
                }
            }
            else
            {
                <p class="alert alert-warning">
                    <span class="glyphicon glyphicon-info-sign"></span>
                    There were no results found.
                </p>
            }

            <ul class="pagination btn-group-justified">
                @if (Model.Page > 1)
                {
                    <li>
                        <a href="#" id="previous-results" class="previous btn-default">
                            <span class="glyphicon glyphicon-circle-arrow-left"></span>
                            Previous results
                        </a>
                    </li>

                }
                @for (int i = 1; i < Model.Page; ++i)
                {


                }
                @if (Model.Results.Count() == Model.NumberOfResults)
                {
                    <li>
                        <a href="#" id="more-results" class="next btn-primary">
                            More results
                            <span class="glyphicon glyphicon-circle-arrow-right"></span>
                        </a>
                    </li>

                }
            </ul>

        }
        else
        {
            <div id="search-suggest" class="collapse dropdown">
                <p>No idea what to search for? Try for some of these common lexemes!</p>
                <ul id="common-terms-list"></ul>
                <a href="javascript:getTerms()" id="more-terms">Load more <span class="glyphicon glyphicon-menu-right"></span></a>

                <div class="info">
                    <h3>Hints</h3>
                    <p>Use double quotes eg. <samp>"fast algorithm"</samp> to denote search for documents containing both words.</p>
                    <p>Use operators <code>&</code> (and) for conjunction, <code>|</code> (or) for disjunction, <code>!</code> (not) for negation.</p>
                    <p>You can also use the expression <code>:*</code> at the end of a word to replace a missing part, eg. <code>math:+</code>
                    would match <samp>mathematics</samp>, <samp>mathematician</samp>, <samp>mathematical</samp> etc.
                    </p>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    <script>
        var incr = false;
        function increasePage() {
            if (!incr) {
                incr = true;
                var p = $('#Page');
                p.val(p.val() * 1 + 1);
            }
        }
        $('#NumberOfResults').on('change', function () {
            $('#num-of-res-indicator').html(this.value);
            $('#Page').val(1);
        });
        $('#search-form').on('submit', function () {
            //$('#results').hide();
        });
        $('#Query').on('change', function () {
            $('#Page').val(1);
        });
        $('#search-form input[type="radio"]').on('change', function () {
            $('#Page').val(1);
        });
        $('#Operator').on('change', function () {
            $('#Page').val(1);
        })
        $('#more-results').on('click', function (evt) {
            evt.preventDefault();
            increasePage();
            $('#search-form').submit();
        });
        $('#previous-results').on('click', function (evt) {
            evt.preventDefault();
            window.history.back();
        });
        @if (Model.Results == null)
        {
            <text>
        function getTerms(n) {
            if ($(n).empty()) n = 20;
            $.get('/Search/CommonTerms?n='+n, null, function (data) {
                var ctl = $('#common-terms-list');
                ctl.html('');
                $.each(data, function () {
                    ctl.append(
                        '<li><a href="#">' + this + '</a></li>'
                        );
                });
                $('#search-suggest').show();
                $('#common-terms-list li a').on('click', function (item) {
                    $('#Query').val($(this).html());
                    $('#search-form').submit();

                });
            });
        }
        getTerms();
            </text>

        }
    </script>
}